
:host {
    font-size: 32px;
    font-family: "Segoe UI";
} 


// conteneur principal prenant l'espace du viewport, de fond bleu ciel avec homelander 
#mainContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    background-image: url('../../assets/photoHomelander-S3.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
