:host {
    font-size: 32px;
    font-family: "Segoe UI";
    --whitebox_padding-ver: 16px;
    --whitebox_padding-hor: 32px;
    --whitebox_width: 250px;
    --whitebox_height: 50px;
    --whitebox_border-width: 1px;
    --whitebox_bottom_position: calc( 100% - (var(--whitebox_height) + 2 * var(--whitebox_padding-ver) + 2 * var(--whitebox_border-width)));
    --whitebox_right_position: calc(100% - (var(--whitebox_width) + 2 * var(--whitebox_padding-hor) + 2 * var(--whitebox_border-width)));
}

#whitebox {
    display: inline-block;
    position: absolute;
    height: var(--whitebox_height);
    width: var(--whitebox_width);
    text-align: center;
    border: solid;
    padding:var(--whitebox_padding-ver) var(--whitebox_padding-hor);
    border-width: var(--whitebox_border-width);
    border-radius: 10px;
    box-shadow: 8px 4px 8px rgb(0, 0, 0, 0.5);
    border-color: rgb(74, 74, 74);
    background-color: rgb(255, 255, 255, 0.8);
    animation: 13s linear 1s infinite slidein;
}

// pour l'animation de la case blanche
@keyframes slidein {
    0%   {left: 0%; top: 0%;}
    25% {left: 0%; top: var(--whitebox_bottom_position)}
    50% {left: var(--whitebox_right_position); top: var(--whitebox_bottom_position);}
    75% {left: var(--whitebox_right_position); top: 0%;}
    100% {left: 0%; top: 0%}
}  

#blue-words {
    color: blue;
}

#red-words {
    color: red;
}

#background {
    display: block;
    position: fixed;
    // margin: 3vh 3vw;
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    background-image: url('../../assets/photoHomelander-S3.webp');
    background-size: contain;
    background-repeat: no-repeat;
    image-orientation: url('../../assets/logoYOUTUBEad267e3735efc6881b3b387f8357bee4.png');
}

#youtube-link {
    display: block;
    position: fixed;
}
