<div id="firstbackground">
    <div id="secondbackground">
        <div id="thirdbackground">
            <div id="fourthbackground">
                <div id="fifthbackground">
                    <div id="sixthbackground">
                        <html>
                            Rejoignez la survie de Yokocton et Bilette <a href="https://www.youtube.com/watch?v=OV3_wxoxhkI">Visit W3Schools.com!</a>
                        </html>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>